.table-li {
	width: 100%;
}

.time-li1 {width: 180px;}
.time-li2 {width: 170px;}
.time-li3 {width: 170px;}
.time-li4 {width: 170px;}
.time-li5 {width: 170px;}
.time-li6 {width: 100px;}

.table-ul-header {
	background: linear-gradient(to bottom, #e8e8e8 0%, #e4e4e4 66%, #E1E1E1 100%);
}

.table-ul {
	list-style: none;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #EEEEEE;
	margin-bottom: 0px;
	padding: 0px;
}

.table-ul li{
	padding: 10px;
	display:table-cell;
	border-right: 1px solid #EEEEEE;
}

.ul-hover:nth-child(2n+1) { 
	background-color: #f7f7f7; 
}
.ul-hover:hover { 
	background-color: #cce0ff;
}
